<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
    <title>就业管理系统-简历维护</title>
    <style>
        html,body{
            height: 100%;
            margin: 0;
        }
        #app{
            height: 100%;
        }
        .el-container{
            height: 100%;
        }
        .el-header{
            background: #011e2c;
        }
        .el-aside{
            height: 100%;
            background: #011e2c;
        }
        .el-menu{
            border: 0;
        }
        [v-clock]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-clock>
    <el-container>
        <el-header>
            <h3 style="color: white;">就业管理系统</h3>
        </el-header>
        <el-container>
            <el-aside width="20%">
                <el-container>
                    <el-main>
                        <el-menu default-active="1"  background-color="#011e2c"
                                 text-color="#fff" active-text-color="#ffd04b">
                            <el-menu-item index="1" @click="gotoCompanyInfo">
                                <i class="el-icon-user-solid"></i>
                                <span slot="title">公司信息</span>
                            </el-menu-item>
                            <el-menu-item index="2" @click="gotoJobManagement">
                                <i class="el-icon-s-management"></i>
                                <span slot="title">岗位管理</span>
                            </el-menu-item>
                            <el-menu-item index="3" @click="gotoCompanyDeliver">
                                <i class="el-icon-search"></i>
                                <span slot="title">投递记录</span>
                            </el-menu-item>
                        </el-menu>
                    </el-main>
                    <el-footer>
                        <p style="color: white">@copyright 560 2020-12</p>
                    </el-footer>
                </el-container>
            </el-aside>
            <el-main>
                <div>{{companyName}}</div>
                <hr>
                <div>
                    <el-row>
                            <el-col :span="5">
                                <el-input :disabled="true" placeholder="公司账号"></el-input>
                            </el-col>
                            <el-col :span="5">
                                <el-input v-model="companyId" :disabled="true">{{companyId}}</el-input>
                            </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="5">
                            <el-input :disabled="true" placeholder="公司名称"></el-input>
                        </el-col>
                        <el-col :span="5">
                            <el-input v-model="companyName" :disabled="true">{{companyName}}</el-input>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="5">
                            <el-input :disabled="true" placeholder="公司规模"></el-input>
                        </el-col>
                        <el-col :span="5">
                            <el-input v-model="companySize" :disabled="true">{{companySize}}人</el-input>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="5">
                            <el-input :disabled="true" placeholder="公司地址"></el-input>
                        </el-col>
                        <el-col :span="5">
                            <el-input v-model="companyLocation" :disabled="true">{{companyLocation}}</el-input>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="5">
                            <el-input :disabled="true" placeholder="公司性质"></el-input>
                        </el-col>
                        <el-col :span="5">
                            <el-input v-model="companyProperty" :disabled="true">{{companyProperty}}</el-input>
                        </el-col>
                    </el-row>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 引入Element组件库 -->
<script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
<!-- 引入axios -->
<script src="https://unpkg.zhimg.com/axios/dist/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            companyId: '8888',
            password: '6666',
            companyName: '560科技',
            companySize: 4,
            companyProperty: '民企',
            companyLocation: '大连海事大学英华公寓5 560',
        },
        methods:{
            initfun: function () {
                var that = this;
                axios.post('/Job/getCompanyInfo').then(
                    function (response) {
                        var data = JSON.parse(response.data).data;
                        console.log(data);
                        that.companyId = data.companyId;
                        that.companyName = data.companyName;
                        that.password = data.password;
                        that.companyLocation = data.companyLocation;
                        that.companyProperty = data.companyProperty;
                    },
                    function (err) {

                    }
                )
            },
            gotoCompanyInfo: function () {
                window.location.href='CompanyInfo.html';
            },
            gotoJobManagement: function () {
                window.location.href='JobManagement.html';
            },
            gotoCompanyDeliver: function (){
                window.location.href='CompanyDeliver.html'
            }
        },
        mounted(){
            this.initfun();
        }
    })
</script>
</body>
</html>