<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
    <title>就业管理系统-投递记录</title>
    <style>
        html,body{
            height: 100%;
            margin: 0;
        }
        #app{
            height: 100%;
        }
        .el-container{
            height: 100%;
        }
        .el-header{
            background: #011e2c;
        }
        .el-aside{
            height: 100%;
            background: #011e2c;
        }
        .el-menu{
            border: 0;
        }
        .el-upload,.el-upload-dragger{
            width: 100%;
        }
        [v-clock]{
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-clock>
    <el-container>
        <el-header>
            <h3 style="color: white;">就业管理系统</h3>
        </el-header>
        <el-container>
            <el-aside width="20%">
                <el-container>
                    <el-main>
                        <el-menu default-active="4"  background-color="#011e2c"
                                 text-color="#fff" active-text-color="#ffd04b">
                            <el-menu-item index="1">
                                <i class="el-icon-user-solid" @click="gotoStudentProfile"></i>
                                <span slot="title">个人信息</span>
                            </el-menu-item>
                            <el-menu-item index="2" @click="gotoResumesManagement">
                                <i class="el-icon-s-management"></i>
                                <span slot="title">简历维护</span>
                            </el-menu-item>
                            <el-menu-item index="3" @click="gotoSearchJobs">
                                <i class="el-icon-search"></i>
                                <span slot="title">职位查询</span>
                            </el-menu-item>
                            <el-menu-item index="4" >
                                <i class="el-icon-stopwatch"></i>
                                <span slot="title">投递记录</span>
                            </el-menu-item>
                        </el-menu>
                    </el-main>
                    <el-footer>
                        <p style="color: white">@copyright 560 2020-12</p>
                    </el-footer>
                </el-container>
            </el-aside>
            <el-main>
                <div>
                    <p>学号：{{studentId}}</p>
                    <p>姓名：{{studentName}}</p>
                </div>
                <hr>
                <div>
                    <el-table  :data="tableData" stripe style="width: 100%">
                        <el-table-column prop="jobInfo.companyInfo.companyName" label="公司名称" width="180">
                        </el-table-column>
                        <el-table-column prop="jobInfo.jobName" label="职位名称" width="180">
                        </el-table-column>

                        <el-table-column prop="createTime" label="投递时间" width="180">
                        </el-table-column>
                        <el-table-column prop="status" label="状态" width="180">
                            <template slot-scope="scopeProp">
                                <p v-if="scopeProp.row.status==2">已接受offer</p>
                                <p v-if="scopeProp.row.status==1">企业已发放offer</p>
                                <p v-if="scopeProp.row.status==0">已投递</p>
                                <p v-if="scopeProp.row.status==-1">未被企业录用</p>
                                <p v-if="scopeProp.row.status==-2">已拒绝企业offer</p>
                            </template>
                        </el-table-column>
                        <el-table-column prop="" label="操作">
                            <template slot-scope="scopeProp">
                                <el-button type="primary" size="mini" v-if="scopeProp.row.status==1" @click="handleAcceptOffer(scopeProp.row)">接受offer</el-button>
                                <el-button type="primary" size="mini" disabled v-else>接受offer</el-button>
                                <el-button size="mini" v-if="scopeProp.row.status==1" @click="handleRefuseOffer(scopeProp.row)">拒绝offer</el-button>
                                <el-button size="mini" disabled v-else>拒绝offer</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
<!-- Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 引入Element组件库 -->
<script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
<!-- 引入axios -->
<script src="https://unpkg.zhimg.com/axios/dist/axios.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            studentId: '',
            studentName: '',
            tableData: []
        },
        methods: {
            initfn: function (){
                var that = this;
                axios.get('/Job/getMyInfo').then(function(response){
                    var data = JSON.parse(response.data).data;
                    console.log(data);
                    that.studentId = data.studentId;
                    that.studentName = data.studentName;
                },function(err){

                });
                axios.get('/Job/getRecord').then(function (response){
                    var data = JSON.parse(response.data).data;
                    data.forEach(function (item){
                        console.log(item);
                        console.log(item.createTime);
                        item.createTime = new Date(item.createTime).toLocaleDateString();
                    });
                    that.tableData = data;
                    console.log(data);
                },function (err){

                })
            },
            handleAcceptOffer: function (row){
                console.log(row);
                axios.get('/Job/commitOffer?deliverId='+row.deliverId+'&flag=true');
            },
            handleRefuseOffer: function (row){
                console.log( row);
                axios.get('/Job/commitOffer?deliverId='+row.deliverId+'&flag=false');
            },
            gotoStudentInfo: function (){
                window.location.href = '';
            },
            gotoSearchJobs: function (){
                window.location.href = 'SearchJobs.html';
            },
            gotoResumesManagement: function (){
                window.location.href = 'ResumeManagement.html';
            },
            gotoStudentProfile: function (){
                window.location.href = 'StudentProfile.html'
            }
        },
        created(){
            this.initfn();
        }
    })
</script>
</body>
</html>