<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vfortest</title>
</head>
<body>
    <div id="myResumesContainer">
        <ul>
            <li v-for="resume in myResumes">
                <p>简历id：{{resume.resumeId}}</p>
                <p>简历名称：{{resume.resumeName}}</p>
                <button type="button" @click="doPreviewResume">查看</button>
            </li>
        </ul>
    </div>
    <div>
        <form action="uploadResume" enctype="multipart/form-data" method="post">
            <table>
                <tr>
                    <td>请选择文件：</td>
                    <td><input type="file" name="file"></td>
                </tr>
                <tr>
                    <td>开始上传</td>
                    <td><input type="submit" value="上传"></td>
                </tr>
            </table>
        </form>
    </div>
    <hr>
    <div id="jobSearchContainer">
        <form>
            <input type="text" v-model="jobName">
            <input type="text" v-model="companyName">
            <input type="text" v-model="jobType">
            <button type="button" @click="searchJobs">搜索</button>
        </form>
    </div>
    <div id="jobContainer">
        <ul>
            <li v-for="job in jobs">
                <p>职位名称：{{job.jobName}}</p>
                <p>公司名称：{{job.companyInfo.companyName}}</p>
            </li>
        </ul>
    </div>
    <hr>
    <div id="deliverRecordContainer">
        <ul>
            <li v-for="deliverRecord in deliverRecords">
                <p>公司名称：{{deliverRecord.jobInfo.companyInfo.companyName}}</p>
                <p>职位名称：{{deliverRecord.jobInfo.jobName}}</p>
                <p>投递状态：{{deliverRecord.status}}</p>
            </li>
        </ul>
    </div>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入Element组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var myResumusContainer = new Vue({
            el: '#myResumesContainer',
            data: {
                myResumes:[]
            },
            methods: {
                getMyResumes: function (){
                    var that = this;
                    axios.get('http://localhost:8080/Job/getMyResumes').then(function (response){
                        console.log(response);
                        that.myResumes = JSON.parse(response.data).data;
                        console.log(that.myResumes);

                    },function (err){

                    })
                },
                doPreviewResume: function (){

                }
            },
            mounted(){
                this.getMyResumes();
            }
        })

        var jobSearchContainer = new Vue({
            el: '#jobSearchContainer',
            data: {
                jobName:'',
                companyName:'',
                jobType:''
            },
            methods: {
                searchJobs: function (){
                    var that = this;
                    var param = new URLSearchParams();
                    param.append("jobName",this.jobName);
                    param.append("companyName",this.companyName);
                    param.append("jobType",this.jobType);
                    axios.post('http://localhost:8080/Job/getJobs',param).then(function (response){
                        var data = JSON.parse(response.data).data;
                        jobContainer.displayJobs(data);
                    },function (err){

                    })
                }
            },
            mounted(){
                this.searchJobs();
            }
        })

        var jobContainer = new Vue({
            el: '#jobContainer',
            data: {
                jobs: []
            },
            methods: {
                getAllJobs: function (){
                    var that = this;
                    axios.get("http://localhost:8080/Job/getJobs").then(function (response){
                        console.log(response);
                        that.jobs = JSON.parse(response.data).data;
                    },function (err){

                    })
                },
                displayJobs: function (data){
                    console.log(data);
                    this.jobs = data;
                }
            }
        })
        var deliverRecordContainer = new Vue({
            el: '#deliverRecordContainer',
            data: {
                deliverRecords:[]
            },
            methods: {
              getMyDeliverRecords: function (){
                  var that = this;
                  axios.get("http://localhost:8080/Job/getRecord").then(function (response){
                      console.log(response);
                      that.deliverRecords = JSON.parse(response.data).data;
                  },function (err){

                  })
              }
            },
            mounted(){
                this.getMyDeliverRecords();
            }
        })

    </script>
</body>
</html>