<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vfortest</title>
</head>
<body>
    <div id="myResumesContainer">
        <ul>
            <li v-for="resume in myResumes">
                <p>简历id：{{resume.resumeId}}</p>
            </li>
        </ul>
    </div>
    <div>
        <form action="uploadResume" enctype="multipart/form-data" method="post">
            <table>
                <tr>
                    <td>请选择文件：</td>
                    <td><input type="file" name="file"></td>
                </tr>
                <tr>
                    <td>开始上传</td>
                    <td><input type="submit" value="上传"></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="jobContainer">
        <ul>
            <li v-for="job in jobs">
                <p>职位名称：{{job.jobName}}</p>
                <p>公司名称：{{job.companyName}}</p>
            </li>
        </ul>
    </div>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入Element组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var myResumusContainer = new Vue({
            el: '#myResumesContainer',
            data: {
                myResumes:[]
            },
            methods: {
                getMyResumes: function (){
                    var that = this;
                    axios.get("http://localhost:8080/Job/getMyResumes").then(function (response){
                        console.log(response);
                        that.myResumes = JSON.parse(response.data).data;
                        console.log(that.myResumes);

                    },function (err){

                    })
                }
            },
            mounted(){
                this.getMyResumes();
            }
        })

        var jobContainer = new Vue({
            el: '#jobContainer',
            data: {
                jobs: []
            },
            methods: {
                getAllJobs: function (){
                    var that = this;
                    axios.get("http://localhost:8080/Job/getJobs").then(function (response){
                        console.log(response);
                        that.jobs = JSON.parse(response.data).data;
                    },function (err){

                    })
                }
            },
            mounted() {
                this.getAllJobs();
            }
        })

    </script>
</body>
</html>