<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DeliverRecordInfoMapper">

    <select id="listDeliverRecordInfoWithJobNameAndCompanyName" resultMap="listDeliverRecordInfoWithJobNameAndCompanyNameResultMap">
        SELECT deliver_id,status,deliver_record_info.create_time,resume_info.resume_id,job_info.job_id,job_name,company_info.company_id,company_name
        FROM deliver_record_info
        JOIN resume_info ON resume_info.resume_id = deliver_record_info.resume_id
        JOIN job_info ON  job_info.job_id = deliver_record_info.job_id
        JOIN company_info ON job_info.company_id = company_info.company_id
        ${ew.customSqlSegment}
    </select>
    <resultMap id="listDeliverRecordInfoWithJobNameAndCompanyNameResultMap" type="pojo.DeliverRecordInfo">
        <id column="deliver_id" property="deliverId"></id>
        <result column="status" property="status"></result>
        <result column="create_time" property="createTime"></result>
        <result column="resume_id" property="resumeId"></result>
        <association property="jobInfo" javaType="pojo.JobInfo">
            <id column="job_id" property="jobId"></id>
            <result column="job_name" property="jobName"></result>
            <association property="companyInfo" javaType="pojo.CompanyInfo">
                <id column="company_id" property="companyId"></id>
                <result column="company_name" property="companyName"></result>
            </association>
        </association>
    </resultMap>

    <select id="getDeliverRecordBySnameCid" resultMap="selectDR">
        select deliver_id,d.job_id,d.resume_id,d.create_time,d.status,
        j.company_id,j.job_name,j.job_name,j.job_type,j.job_description,
        r.student_id,r.resume_name,r.resume_status,r.create_time rct,r.url,
        s.password,s.student_name,s.sex,s.political_status,s.hometown
        from deliver_record_info d,
        job_info j,resume_info r,student_info s ,company_info c
        where d.job_id = j.job_id and j.company_id = c.company_id
        and c.company_id = #{cid}
        and d.resume_id = r.resume_id and r.student_id = s.student_id
        <if test="sname != null">
            and s.student_name = #{sname}
        </if>

    </select>
    <resultMap id="selectDR" type="pojo.DeliverRecordInfo" autoMapping="true">
        <id property="deliverId" column="deliver_id"/>
        <result property="jobId" column="job_id"/>
        <result property="resumeId" column="resume_id"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <association property="resumeInfo" javaType="pojo.ResumeInfo" autoMapping="true">
            <id property="resumeId" column="r.resume_id"/>
            <result property="resumeName" column="resume_name"/>
            <result property="studentId" column="student_id"/>
            <result property="resumeStatus" column="resume_status"/>
            <result property="createTime" column="rct"/>
            <association property="studentInfo" javaType="pojo.StudentInfo" autoMapping="true">
                <id property="studentId" column="student_id"/>
                <result property="studentId" column="student_id"/>
            </association>
        </association>

        <association property="jobInfo" javaType="pojo.JobInfo" autoMapping="true">
            <id property="jobId" column="job_id"/>
        </association>
    </resultMap>




    <select id="test" resultMap="map1">
        select deliver_id from deliver_record_info d,job_info j
    </select>
    <resultMap id="map1" type="pojo.DeliverRecordInfo">
        <result property="jobId" column="deliver_id"/>
        <association property="jobInfo" javaType="pojo.JobInfo">

        </association>
    </resultMap>
</mapper>
